.row {
    margin: 5px;
}

.navbar {
    padding-top: 18px;
    padding-bottom: 5px;
}

.animalHeader {
    padding-top: 40px;
    margin-bottom: 0px;
    margin-left: 12px;
    /* text-align: center; */
}

th {
    text-align: center;
} 
#animalList, #addAnimal{
    margin-left: 10px;
    /* margin-right: 10px; */
    margin-bottom: 20px;
}

#animalInfo p {
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    padding-top: 4px;
    margin-bottom: 0px;
    padding-bottom: 4px;
    background-color: #C1F0FF;
    border-radius: 5px;
}

#animalListInstruction {
    margin-left: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#addWrapper {
    margin-top: 30px;
}

.flex-last {
    margin-top: 10px;
}

#addAnimal input {
    margin: 2px;
}

#addAnimal button {
    margin: 3px;
}

.addAFriendHeader {
    margin-left: 12px;
}

/* Scrolling table body for larger screen size */
@media screen {
    #animalList {
        height: 22em;
    }
    table {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
    }
    table thead {
        /* head takes the height it requires, 
        and it's not scaled when table is resized */
        flex: 0 0 auto;
        width: 100%;
    }
    table tbody {
        /* body takes all the remaining available space */
        flex: 1 1 auto;
        display: block;
        overflow-y: scroll;
    }
    table tbody tr {
        width: 100%;
    }
    table thead, table tbody tr {
        display: table;
        table-layout: fixed;
    }
}

/* Scrolling table body for smaller screen size */
@media screen and (max-height : 550px) {
    #animalList {
        height: 19em;
    }
    /* #addWrapper {
        display: none;
    } */

    .flex-last {
        margin-top: 0px;
    }

    table {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
    }
    table thead {
        /* head takes the height it requires, 
        and it's not scaled when table is resized */
        flex: 0 0 auto;
        width: 100%;
    }
    table tbody {
        /* body takes all the remaining available space */
        flex: 1 1 auto;
        display: block;
        overflow-y: scroll;
    }
    table tbody tr {
        width: 100%;
    }
    table thead, table tbody tr {
        display: table;
        table-layout: fixed;
    }
}

@media screen and (max-width : 550px) {
    .flex-last {
        margin-top: 0px;
    }

    .animalHeader {
        padding-top: 20px;
        margin-bottom: 0px;
        margin-left: 12px;
        /* text-align: center; */
    }
}
